@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(238, 237, 237);
    overflow-x: hidden;
}


/* Navbar in the side*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* side-nav */

#side-nav {
    position: fixed;
    left: -150px;
    top: 0;
    width: 150px;
    height: 100vh;
    background: transparent;
    z-index: 1;
    /*   transition: all 0.3s; */
}


/* #side-nav.open {left: 0;} */

#side-nav h1 {
    padding: 20px 20px 20px 20px;
    color: #fff;
    font-size: 33px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li a {
    padding: 14px 20px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li:hover {
    background: rgba(117, 92, 21, 0.4);
    opacity: .5;
}

#side-nav .navBtn {
    position: absolute;
    right: -60px;
    top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
}

.logonav {
    width: 60%;
    height: auto;
    margin: 25% 25% 25% 20%;
}

.optionsnav {
    font-family: 'Raleway', sans-serif;
    color: #e6e6e6;
    font-weight: 700;
    text-align: center;
}

.optionsnav:hover {
    text-decoration: none;
}


/*nav small*/

.navsmall {
    z-index: 99;
    display: none;
    margin-bottom: 0px;
}


/*Hexagons background*/

.hexagons {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.hexagons polygon {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.08;
    transition: all 1s cubic-bezier(.44, .73, .63, 1);
}

.hexagons:hover {
    fill: rgba(255, 255, 255, 0.3);
}

.active polygon {
    fill: rgba(255, 255, 255, 0.3);
}

.hexagons polygon:hover {
    fill: rgba(255, 255, 255, 0.3);
}


/*superior part*/

.superior,
.inferior {
    position: relative;
    width: 100vw;
    height: 30vh;
    padding-top: 6%;
}

.superior span {
    font-size: 2em;
    color: white;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
}

.inferior span {
    font-size: 1em;
    text-justify: auto;
    color: #242422;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}

.inferior h3 {
    font-size: 2em;
    color: #242422;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Standard syntax */

@keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*page content*/

.content {
    z-index: 99;
    background-color: #242422;
    height: 40vh;
    padding-top: 3%;
    box-shadow: 0px 4px 7px grey;
}


/*login page*/

.panel {
    background-color: transparent !important;
    border: none !important;
}

.panel-heading {
    text-align: center !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 4px;
    color: white !important;
    background-color: transparent !important;
}

.form-control:hover {
    opacity: 0.7;
}

.form-control:focus {
    opacity: 0.7;
}

.btnlogin {
    background-color: #696969 !important;
    opacity: 0.5 !important;
    border: none !important;
    color: white !important;
}


/*lobby template*/

.fancy {
    line-height: 0.5;
    text-align: center;
    margin-top: 1%;
}

.fancy span {
    display: inline-block;
    position: relative;
    text-align: center !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    color: white !important;
    text-transform: uppercase;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 15em;
    max-width: 15em;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}


/*content*/

.fullpage {
    position: relative;
    height: 70vh!important;
    top: -20%!important;
    padding-top: 4%;
    background-color: rgb(238, 237, 237);
}


/*home*/

.home {
    margin-top: -3%!important;
}

.characterbanner,
.campaignbanner {
    position: relative;
    height: 35vh;
    padding-top: 3%;
    box-shadow: 0px 4px 7px grey;
}

.characterbanner h2,
.campaignbanner h2 {
    font-size: 2em;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 6s;
}

.characterbanner .hr {
    color: #fff;
    background: #fff;
    width: 10%;
    height: 1px;
    margin-left: 15%;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 7s;
}

.campaignbanner .hr {
    color: #fff;
    background: #fff;
    width: 10%;
    height: 1px;
    margin-left: 75%;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 7s;
}

.characterbanner p {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 20%;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}

.campaignbanner p {
    color: #fff;
    margin-right: 19%;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}

.characterbanner {
    background: url(../images/charactersbanner.jpg) center center / cover no-repeat
}

.characterbanner .charactertitle {
    padding-left: 10%;
}

.campaignbanner {
    background: url(../images/campaignsbanner.jpg) center center / cover no-repeat
}

.campaignbanner .campaigntitle {
    padding-right: 11%;
}


/*characters index*/

.buttonselect {
    z-index: 999!important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: white;
    border: solid 1px currentColor;
    padding: 1em;
    margin: 3.5em 1.5em;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: transparent;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 6s;
}

.buttonselect:hover {
    border: solid 1px darken(white, 5%);
    background-color: darken(#242422, 2%);
    color: darken(white, 10%);
}

.buttonselect a {
    z-index: 99;
    color: white;
}


/*show all characters*/

.boxcontent {
    z-index: 99;
    height: 85%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #2e2e2d;
    box-shadow: 1px 1px 9px rgb(58, 58, 58);
    overflow-y: scroll;
    border-radius: 1%;
}

.charactercard {
    color: white;
    height: 20%;
    border: solid 1px currentColor;
    padding: 1em;
    margin: 1.5em 1.5em;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: transparent;
    -webkit-animation-name: ourname;
    -webkit-animation-duration: 4s;
    animation-name: ourname;
    animation-duration: 4s;
}

.charactercard:hover {
    border: solid 1px darken(white, 5%);
    background-color: darken(#000000, 2%);
    color: darken(white, 10%);
}

.charactercard p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.charactercard .charactertitle {
    font-size: 1.5em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.charactercard .hr {
    color: #fff;
    background: #fff;
    width: 4%;
    height: 1px;
    margin-left: 48%;
    -webkit-animation-name: ourname;
    -webkit-animation-duration: 7s;
    animation-name: ourname;
    animation-duration: 7s;
}


/*create character*/

.createCharacter h3 {
    text-align: center;
    font-size: 2em;
    text-justify: auto;
    color: #242422;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}


/*create campaign*/

.createCampaign,
.joinCampaign {
    color: white;
}

.createCampaign form {
    -webkit-animation-name: ourname;
    -webkit-animation-duration: 7s;
    animation-name: ourname;
    animation-duration: 7s;
}


/*Querys*/

@media (max-width: 990px) {
    #side-nav {
        display: none;
    }
    .navsmall {
        display: block;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1280px) {
    .superior {
        padding-top: 8%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
    .superior {
        padding-top: 10%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
    .superior {
        padding-top: 12%;
    }
}


/* 
    ##Device = iphone 7/8 (Portrait)
    ##Screen = B/w 375px to 479px
*/

@media (max-width: 480px) {
    .superior {
        padding-top: 14%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 375px
*/

@media (max-width: 374px) {
    .superior {
        padding-top: 18%;
    }
}