@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(238, 237, 237);
    overflow-x: hidden;
}


/* Navbar in the side*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* side-nav */

#side-nav {
    position: fixed;
    left: -150px;
    top: 0;
    width: 150px;
    height: 100vh;
    background: transparent;
    z-index: 1;
    /*   transition: all 0.3s; */
}


/* #side-nav.open {left: 0;} */

#side-nav h1 {
    padding: 20px 20px 20px 20px;
    color: #fff;
    font-size: 33px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li a {
    padding: 14px 20px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li:hover {
    background: rgba(117, 92, 21, 0.4);
    opacity: .5;
}

#side-nav .navBtn {
    position: absolute;
    right: -60px;
    top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
}

.logonav {
    width: 60%;
    height: auto;
    margin: 25% 25% 25% 20%;
}

.optionsnav {
    font-family: 'Raleway', sans-serif;
    color: #e6e6e6;
    font-weight: 700;
    text-align: center;
}

.optionsnav:hover {
    text-decoration: none;
}


/*nav small*/

.navsmall {
    z-index: 99;
    display: none;
    margin-bottom: 0px;
}


/*Hexagons background*/

.hexagons {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hexagons polygon {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.08;
    transition: all 1s cubic-bezier(.44, .73, .63, 1);
}

.hexagons:hover {
    fill: rgba(255, 255, 255, 0.3);
}

.active polygon {
    fill: rgba(255, 255, 255, 0.3);
}

.hexagons polygon:hover {
    fill: rgba(255, 255, 255, 0.3);
}


/*superior part*/

.superior,
.inferior {
    position: relative;
    width: 100vw;
    height: 30vh;
    padding-top: 6%;
}

.superior span {
    font-size: 2em;
    color: white;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
}

.inferior span {
    font-size: 1em;
    text-justify: auto;
    color: #242422;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}

.inferior h3 {
    font-size: 2em;
    color: #242422;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 8s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Standard syntax */

@keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*page content*/

.content {
    background-color: #242422;
    height: 40vh;
    padding-top: 3%;
    box-shadow: 0px 4px 7px grey;
}


/*login page*/

.panel {
    background-color: transparent !important;
    border: none !important;
}

.panel-heading {
    text-align: center !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 4px;
    color: white !important;
    background-color: transparent !important;
}

.form-control {
    background-color: #504b0c !important;
    opacity: 0.3;
    color: #e6e6e6 !important;
}

.form-control:hover {
    opacity: 0.7;
}

.form-control:focus {
    opacity: 0.7;
}

.btnlogin {
    background-color: #696969 !important;
    opacity: 0.5 !important;
    border: none !important;
    color: white !important;
}

@media (max-width: 990px) {
    #side-nav {
        display: none;
    }
    .navsmall {
        display: block;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1280px) {
    .superior {
        padding-top: 8%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
    .superior {
        padding-top: 10%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
    .superior {
        padding-top: 12%;
    }
}


/* 
    ##Device = iphone 7/8 (Portrait)
    ##Screen = B/w 375px to 479px
*/

@media (max-width: 480px) {
    .superior {
        padding-top: 14%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 375px
*/

@media (max-width: 374px) {
    .superior {
        padding-top: 18%;
    }
}