@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(238, 237, 237);
    overflow-x: hidden;
}


/*first state***********************************************************************************************************/

.sliderhome {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../images/HEADER.jpg) center center / cover no-repeat
}

.sliderhome .logo img,
.logofooter {
    height: 200px;
    width: auto;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
}

.sliderhome .elements {
    padding-top: 16%;
}

.frontslider {
    width: 100vw;
    height: 100vh;
}

.frontslider .title {
    margin-top: 20%;
}

.quoteslider {
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12%;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
}

.sliderhome .flechita {
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    text-decoration: none;
    transition: opacity 1;
    margin-top: 2%;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
}

.sliderhome .flechita i {
    font-size: 40px
}

.sliderhome .flechita:hover {
    opacity: .5;
}

.sliderhome .logo img {
    height: 200px;
    width: auto;
}

#sliderhome .flechita {
    padding-top: 60px;
}

.ourname {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    -webkit-animation-name: ourname;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: ourname;
    animation-duration: 4s;
    letter-spacing: 8px;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Standard syntax */

@keyframes ourname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo_login {
    color: rgba(0, 0, 0, 0.486);
    font-size: 2em;
    top: 1%;
}

.logintitle {
    font-size: 1em;
    color: rgb(24, 23, 23);
    letter-spacing: 4px;
    font-weight: 600;
    text-decoration: none;
}

.logintitle:hover {
    text-decoration: none;
}


/* formulari login*/

.formlogin {
    position: absolute;
    background-color: #534b2b;
    opacity: 0;
    top: -5%;
    border-radius: 12px;
    z-index: 1;
    width: 400px !important;
}

.formlogin button {
    z-index: 999;
}

.formlogin:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.formulari {
    margin: 5% 5% 5% 5%;
}


/* second state ************************************************************************************************************************************************/

.statetwooptions {
    width: 90%!important;
}

.quoteblock {
    margin-top: 10%;
    margin-bottom: 10%;
}

.quote {
    font-size: 3em;
    color: rgb(32, 32, 32);
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    text-align: center;
    font-style: italic;
}

.quoteauthor {
    font-size: 1.5em;
    color: rgb(32, 32, 32);
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    text-align: center;
}

.whatismdct {
    position: relative;
    width: 100vw;
    height: 60vh;
    background: url(../images/back1.jpg) center center / cover no-repeat
}

.whatismdct h2,
.alreadyanuser h2,
.getstarted h2 {
    font-size: 2em;
    color: white;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.whatismdct .hr {
    color: #fff;
    background: #fff;
    width: 8%;
    height: 1px;
}

.alreadyanuser .hr,
.getstarted .hr {
    text-align: center;
    color: #fff;
    background: #fff;
    width: 10%;
    height: 1px;
    margin-left: 45%;
}

.whatismdct p,
.alreadyanuser p,
.getstarted p {
    font-size: 1em;
    color: rgb(233, 232, 232);
    font-weight: 600;
    justify-content: justify;
}

.whatismdct .button,
.alreadyanuser .button,
.getstarted .button {
    border: none;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    transition: .2s ease;
    text-align: center
}

.whatismdct .button:hover,
.alreadyanuser .button:hover,
.getstarted .button:hover {
    background-color: darken(transparent, 10%);
    color: rgb(179, 175, 175);
    transition: .2s ease;
}

.alreadyanuser {
    position: relative;
    width: 100vw;
    height: 60vh;
    background: url(../images/photo3.jpg) center center / cover no-repeat
}

.alreadyanusercontent,
.getstartedcontent {
    padding-top: 20%;
}

.getstarted {
    position: relative;
    width: 100vw;
    height: 60vh;
    background: url(../images/photo4.jpg) center center / cover no-repeat
}

.footer {
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: #242422;
}

.footer ul li {
    text-decoration: none;
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    transition: .2s ease;
}

.footer ul li a:hover {
    color: rgb(212, 211, 211);
    transition: .2s ease;
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1280px) {
    .sliderhome .elements {
        padding-top: 23%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
    .sliderhome .elements {
        padding-top: 28%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
    .sliderhome .elements {
        padding-top: 34%;
    }
}


/* 
    ##Device = iphone 7/8 (Portrait)
    ##Screen = B/w 375px to 479px
*/

@media (max-width: 480px) {
    .sliderhome .elements {
        padding-top: 50%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 375px
*/

@media (max-width: 374px) {
    .sliderhome .elements {
        padding-top: 73%;
    }
}